<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <script src="../public/js/jquery-3.6.0.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../public/css/loginstyle.css">
</head>

<body>
  <section class="">
    <div class="content bg-dark p-5">
      <div class="container">


        <div class="row pb-5 h1">
          <p class="text-white">Portal Admin <br> Museum Perkampungan Budaya Betawi </p>
        </div>
        <div class="row">
          <div class="formLogin">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-white">Email : </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="example@mail.com">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="text-white">Password : </label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <!-- <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label text-white" for="exampleCheck1">Check me out</label>
                    </div> -->
              <button type="submit" class="btn btn-primary mt-3 px-4">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="imgBG">
      <!-- https://petabudaya.belajar.kemdikbud.go.id/Assets/vl/mod130vlparade_ondel.png -->
      <img src="../public/media/ondelOndel.png" alt="">
    </div>




  </section>
</body>

</html>